<li <%= "class=current_member" if member == current_member %> <%= "draggable=true ondragstart=drag(event) ondragend=hideAll(event) id=#{tsm.id}" if current_member.admin? %>>
  <span><%= member.name %></span>
</li>
