<li class="no-border" <%= "ondragover=showAdd(event) id=#{tabling_slot.id}" if current_member.admin? %>> <b><%= link_to "#{tabling_slot.start_time.strftime("%l:%M%p")} to #{tabling_slot.end_time.strftime("%l:%M%p")}", tabling_slot %></b>

  <ul>
    <% tabling_slot.members.each do |member| %>
      <%= render "tabling_slots/member", member: member, tabling_slot: tabling_slot %>
    <% end %>
    <% if current_member.admin? %>
      <li class="delete" ondrop="deleteMember(event)" ondragover="allowDrop(event)">Drop here to delete</li>
      <li class="add" ondrop="addMember(event)" ondragover="allowDrop(event)">Drop here to add</li>
    <% end %>
  </ul>

</li>
