<script type = "text/javascript">
var clicking = false;
var slots = {};
slots["0"] = [];
slots["1"] = [];
slots["2"] = [];
slots["3"] = [];
slots["4"] = [];
slots["5"] = [];
slots["6"] = [];
function drawDays(){
	var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
	var hours = ["8", "9", "10", "11", "12", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11"];
	for(var i=0;i<days.length;i++){
		var day_div = document.createElement("div");
		$(day_div).addClass("day");
		$(day_div).attr("id", (i).toString());
		// $(day_div).text(days[i]);
		var header = document.createElement("div");
		$(header).addClass("header");
		$(header).text(days[i]);
		$(day_div).append(header);
		for(var j=0;j<hours.length-1;j++){
			var hour = document.createElement("div");
			$(hour).addClass("hour");
			$(hour).attr("id", j+8);
			$(hour).text(hours[j]+" - "+hours[j+1]);
			$(day_div).append(hour);
		}
		$("#times").append(day_div);
	}
}
function hourActions(){
	$(".hour").click(function(){
		toggleSelected($(this));
	});
}
function markSlots(marked_slots){
	for(var i=0;i<7;i++){
		var key = i;
		for(var j=0;j<marked_slots[key].length;j++){
			hour = marked_slots[key][j];
			var h = $("#"+key+" "+"#"+hour);
			toggleSelected(h);
		}
	}
}
function toggleSelected(thiss){

	if(! $(thiss).hasClass("selected")){
		$(thiss).addClass("selected");
		$(thiss).css("background-color", "rgb(129, 129, 127)");
		var d = $(thiss).parent().attr("id");
		var h = $(thiss).attr("id");
		slots[d].push(h);
	}
	else{
		$(thiss).css("background-color", "white");
		$(thiss).removeClass("selected");
		// remove this hour from slots
		var d = $(thiss).parent().attr("id");
		var h = $(thiss).attr("id");
		var index = slots[d].indexOf(h);
		if(index>-1){
			slots[d].splice(index,1);
		}
	}
}
function clickingActions(){
	$(".hour").click(function(){
		toggleSelected($(this));
	});
	$(".hour").mousedown(function(){
		clicking = true;
		toggleSelected($(this));
	});
	$(".hour").on("mouseover", function(){
		if(clicking == true){
			toggleSelected($(this));
		}
	});
	$(document).mouseup(function(){
		clicking = false;
	});
}
function generateTabling(type){
	alert("generating tabling for "+type+" ...hold onto your potatoess");
	$.ajax({
      url:'/tabling_slots/generate_tabling/',
      type: "GET",
      data: {"slots": slots, "type": type},
      success:function(data){
      },
      complete:function(){
      	location.reload();
      },
      error:function (xhr, textStatus, thrownError){}
  });
}
function clearSlots(){
	var r = confirm("the tabling slots you generated for this week will be cleared. continue?");
	if(r){
		$.ajax({
		      url:'/tabling_slots/delete_slots/',
		      type: "GET",
		      data: {},
		      success:function(data){
		      },
		      complete:function(){
		      	location.reload();
		      },
		      error:function (xhr, textStatus, thrownError){}
		  });
	}
}
$(document).ready(function(){
	drawDays();
	hourActions();
	clickingActions();
	$("#generate").click(function(){
		generateTabling("all");
	});
	$("#generate_chairs").click(function(){
		generateTabling("chairs");
	});
	$("#delete_slots").click(function(){
		clearSlots();
	});
});
</script>

<style type = "text/css">
#times {
	margin-left: 25px;
}
.day {
	background-color: white;
	float: left;
	width: 100px;
	text-align: center;
	margin-left: -1px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.day:hover {
	cursor: pointer;
}
.day div {
	border: 1px solid #C5C5C5;
	padding: 3px;
	margin-bottom: -1px;
}
.header {
	background-color: maroon;
	color: white;
}
.hour:hover {
	cursor: pointer;
}
#delete_slots {
	margin-left: 25px;
}

#current_member{
	background-color: white;
}
.slot_div {
	display: inline;
}

.tabling {
  float: left;
  margin: 25px;
}
li{
  list-style-type: none;
}

</style>

<h1>Tabling Options</h1>
<input type = "submit" class = "btn" id = "delete_slots" value = "Clear Slots"/>
<input type = "submit" class = "btn" id = "generate" value = "Generate Tabling Schedule"/>
<input type = "submit" class = "btn" id = "generate_chairs" value = "Generate Tabling for Chairs Only"/>
<div style = "clear:both; height: 25px"></div>
<div id = "times"></div>
<div style = "clear:both; height: 50px"></div>
<% if @tabling_days %>
<% @tabling_days.each do |day, slots| %>
    <ul class="tabling">
    	<div class="label label-default dayheading"><%= day.strftime("%A, %D") %></div>
    	<div style = "height:15px"></div>
      <%= render slots %>
    </ul>
  </div>
<% end %>
<% end %>