<section>
  <h1>You have earned <%= pluralize(current_member.total_points, "point") %>!</h1>
  <ul>
    <% @recently_earned.each do |item| %>
      <li><%= "#{item[:title]}: #{pluralize(item[:points].to_i, "point")}" %></li>
    <% end %>
  </ul>
</section>

<section>
  <% if current_member.primary_committee %>
  <h2>Your committee's rating: <%= current_member.primary_committee.rating %></h2>
  <p>Your committee's rating is a normalized value based on each of the committee member's points. This is the value used in committee rankings</p>
  <ul>
    <% current_member.primary_committee.cms.each do |cm| %>
      <li><%= "#{cm.member.name}: #{pluralize(cm.member.total_points, "point")}" %></li>
    <% end %>
  </ul>
  <% else %>
  <h2>oops homie you aren't in a committee this semester</h2>
  <% end %>
</section>
