
<%= javascript_include_tag "events/index.js" %>

<style type = "text/css">

body {
	padding-top: 75px;
}
.events_table, th, td {
	border-collapse: collapse;
	border: 1px solid rgb(173, 173, 173);
	padding: 3px;
	text-align: center;
	margin: 10px 25px;

	-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
	cursor: default;
}
th {
	background-color: maroon;
	color: rgb(255, 240, 240);
	width: 10%;
	font-weight: normal;
}
th a {
	color: rgb(255, 240, 240);
}
td {
	background-color: white;
}
input[type="checkbox"] {
	display: inline;
}
.highlight td {
	background-color: rgb(246, 218, 218);
}
</style>
<% if current_member.admin? %>
<!-- <div class="btn-group"> -->
	 <!-- <button type="button" class="btn btn-default"><a href = "/events/sync_events_with_google" class = "btn">sync with google calendars</a></button> -->
	 <button type="button" class="btn btn-danger"><a href = "/event_points" style = "color:white">edit event points</a></button>
<!-- </div> -->
<% end %>
<button type="button" class="btn btn-success" id = "calendar-view-button"><a href = "#" style = "color:white" onclick = "return: false;">Hide Calendar View</a></button>
<button type="button" class="btn btn-primary" id = "list-view-button"><a href = "#" style = "color:white" onclick = "return: false;">List View</a></button>
<div style = "height:25px"></div>


<div class = "row-fluid">

<div class = "col-md-8">
<div id = 'calendar-container'>
  <%= render "calendar" %>
  </div>
<h1>Upcoming Events</h1>

<table class = "events_table" id = "upcoming_events_table">
	<thead>
		<th>date</th>
		<th>event name</th>
		<th>time</th>
		<th>location</th>
		<th>type</th>
		<th>points</th>
		<th>attending</th>
	</thead>
	<tbody>
	<% @upcoming_events.each do |ue| %>
		<tr class = "event-row" id = '<%= ue.id %>'>
			<td><%= ue.start_time.strftime("%D") %></td>

			<td><%= link_to ue.name, ue %></td>
			<td><%= ue.start_time.strftime("%r") %></td>
			<td>location</td>
			<td></td>
			<td><%= ue.points %></td>

			<td><input type = "checkbox"/></td>
		</tr>
	<% end %>

	</tbody>
</table>



<h1>Past Events</h1>
<table class = "events_table" id = "past_events_table">
	<thead>
		<th><%= sortable "date", "Date" %></th>
		<th><%= sortable "name", "Event Name" %></th>
		<th>time</th>
		<th>location</th>
		<th>type</th>
		<th><%= sortable "points" %></th>
		<th><%= sortable "attendees" %></th>

	</thead>
	<tbody>
	<% @past_events.reverse.each do |pe| %>
		<% if @attended_events.include? pe %>
		<tr class = "highlight event-row" id = '<%= pe.id %>'>
		<% else %>
		<tr class = "event-row" id = '<%= pe.id %>'>
		<% end %>
			<td><%= pe.start_time.strftime("%D") %></td>
			<td><% if pe.posts.length > 0 %>
				***<% end %><%= link_to pe.name, pe %></td>
			<td><%= pe.start_time.strftime("%r") %></td>
			<td>location</td>

			<td><%= Committee.all.sample.name %></td>
			<td><%= pe.points %></td>
			<td><%= pe.attendees.length %></td>
		</tr>
	<% end %>

	</tbody>
</table>
</div>
	<!-- end of md 8 col -->
	<div class = "col-md-4">
		<div id = "posts-container">
			click on a starred event to see blogposts
		</div>
	</div>
</div>
<!-- end of fluid row -->