<div class="row">
  <h1>Your Saved Commitments</h1>
  <div class="span8">
    <ul>
      <%= render @commitments %>
    </ul>
  </div>
  <div class="span4">
    <p>
      If all your events show up here, you're good!
    </p>
  </div>
  <div class="span12">
    <p><%= link_to "View all", preview_commitments_url, class: "btn btn-primary" %></p>
  </div>
</div>
