<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"> -->
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script> -->
<%= javascript_include_tag "posts/posts.js" %>
<script type = "text/javascript">
$(document).ready(function(){
	jQuery(parent).trigger('initialize:frame');
	dbclickActions();
  scrollActions();
  searchActions();
});
jQuery(window).on('mercury:ready', function() {
  Mercury.saveUrl = '/posts/mercury';
});
</script>
<style type = "text/css">
body{
	padding-top: 75px;
}
.col {
	border: 1px solid #eee;
}
.label {
	display:inline-block;
	margin: 2px;
	padding: 7px;

}
.label a{
	color: white;
}
.label:hover {
	cursor: pointer;
}
.post-div:hover {
	max-height: 700px;
	overflow: hidden;
	cursor: pointer;
}
.post-content.post-editing:hover{
	cursor:default;
}
</style>
<div class="row-fluid">
  <div class="col-md-3 col-sm-3" id = "left-sidebar">
  	<input id = "posts-search" type = "text" class = "form-control" placeholder = "Search Posts"/><br>
  	<div class = "label label-primary category-label" id = "">Recent Post</div>
  	<div class = "label label-default category-label" id = "announcement">Event Announcements</div>
  	<div class = "label label-default category-label">Event Recaps</div>
  	<div class = "label label-default category-label">Administrative</div>
  	<div class = "label label-default category-label">Publications</div>
    <div class = "label label-default category-label">Historian</div>
    <div class = "label label-default category-label">Finance</div>
    <div class = "label label-default category-label">Marketing</div>
    <div class = "label label-default category-label">Consulting</div>
    <div class = "label label-default category-label">Community Service</div>
    <div class = "label label-default category-label">Professional Development</div>
    <div class = "label label-default category-label">Social</div>
    <div class = "label label-default category-label">Internal Networking</div>
    <div class = "label label-default category-label">Executives</div>
  </div>
  <div class="col-md-6 col-sm-6" id = "all-posts-container">
    <%= render "posts", posts: @posts %>
  </div>
  <div class="col-md-2 col-sm-3">
  </div>
</div>