/* General and resets*/

body {
  background-color: #EEE;
  margin: 0;
}

.main {
  background-color: #EEE;
  clear: both;
  margin: 1%;
}

section {
  margin: 20px;
  padding: 20px;

  clear: both;

  background-color: white;

  border-bottom: 2px solid #AAA;
}

.pull-right {
  float: right;
}

label {
}

.btn {
  background-color: #DDD;
  border: 1px solid maroon;
  padding: 0.5em;
  margin: 0;
  color: maroon;
}

.btn:hover {
  background-color: #CCC;
}

/* Typography */

body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 48px;

  margin: 0;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 24px;
  font-weight: 400;

  margin: 0;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 16px;
}

p {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
}

a {
  color: maroon;
  text-decoration: none;
}

/* Header */

.logo {
  background-color: maroon;
}

.logo a {
  color: white;
}

.logo:hover {
  background-color: maroon;
}

header ul {
  background-color: white;

  float: left;
  width: 100%;

  padding: 0;
  margin: 0 0 1em 0;
  border-bottom: 1px solid maroon;
}

header li {
  float: left;
  clear: none;
  width: auto;

  padding: 10px 20px 10px 20px;
  margin: 0;
  border: 0;
  border-right: 1px solid maroon;

  font-size: 16px;
  font-weight: 300;
  color: maroon;
}

header li.pull-right {
  border-left: 1px solid maroon;
  border-right: none;
}

/* Pretty lists */

ul {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
  font-size: 24px;
  font-weight: bold;
}

li {
  display: inline-block;
  width: 97%;

  background-color: white;

  padding: 1%;
  margin: 5px 0.5% 5px 0px;
  border-left: 2px solid lightBlue;

  font-size: 16px;
  font-weight: 400;
}

li.half {
  width: 47%;
  padding-top: 15px;
  padding-bottom: 15px;
}

li.thirds {
  width: 30%;
  padding-top: 20px;
  padding-bottom: 20px;
}

li.no-border {
  border-left: none;
  padding-left: 0;
}

li.no-border:hover {
  background-color: white;
}

li:hover {
  background-color: #FFB;
}

/* Pretty checkboxes */

input[type="checkbox"] {
  display: none;
}

.checked, .checked:hover {
  background-color: #FF9;
}


/* Drag and drop lists */

li.delete {
  border-left: 2px solid #F55;
  color: #DDD;
  display: none;
}

li.add {
  border-left: 2px solid #2A2;
  color: #DDD;
  display: none;
}

/* Content-specific styling */

.current_member {
  color: blue;
}

.signin {
  text-align: center;
}

.signin h1 {
  font-size: 72px;
}

.ui-menu-item {
  border: none;
}

.flash {
  padding: 5px;
  width: 100%;
  margin: 0;
}

.flash ul {
  margin: 0;
  padding: 0;
}

.flash li {
  border: 0;
}

.flash li:hover {
  background-color: auto;
}

ul.tabling {
  width: 18%;
  padding-right: 1%;
  display: inline-block;
  vertical-align: top;
}

.tsm-status {
  font-size: 0.8em;
  color: #DDD;
  margin-left: 0.5em;
}

.right-align {
  display: block;
  float: right;
  text-align: right;
}

.tsm-status-set:hover {
  text-decoration: underline;
}

/* Print view */

@media print {
  div {
    float: left;
    font-size: 10pt;
    height: 800px;
  }
}
