<div class="row">
  <h1>Reimbursements</h1>
  <div class="span9">
    <ul>
      <%= render @reimbursements %>
    </ul>
    <%= link_to "Add New Reimbursement", new_reimbursement_url %>
  </div>
</div>
