<li>
  <%= form_for commitment_calendar, method: "delete", html: { class: "form-inline" } do |f|%>
    <%= f.hidden_field :calendar_id %>
    <%= f.label :summary, "#{truncate(commitment_calendar.summary, length: 25)} [#{commitment_calendar.tag_string}]" %>
    <%= f.submit "Unmark", class: "btn btn-small" %>
  <% end %>
</li>
