<div class=row>
  <% if current_member %>
    <h1>Welcome <%= current_member.name %>!</h1>
    <div class="span12">
      <p>Is this you?</p>
      <%= render @old_members %>
    </div>
  <% end %>
</div>
